:root {
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkDesaturated: hsl(229, 23%, 23%);
  --darkGrayish: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--darkCyan);
  background-image: url("../imagenes/bg-pattern-top.svg"),
    url("../imagenes/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tarjeta {
  background-color: #fff;
  width: 326px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.7);

  &-img {
    width: 100%;
    display: block;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);

    &-img {
      border: 5px solid #fff;
      border-radius: 50%;
      margin-top: -48px;
    }

    &-title {
      margin-top: 2rem;
      font-size: 1.8rem;
      span {
        color: var(--darkGray);
        font-weight: 400;
      }
    }

    &-text {
      color: var(--darkGray);
      font-size: 1.6rem;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-around;

    &-social {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;

      h3 {
        font-weight: 700;
        font-size: 1.6rem;
      }

      p {
        letter-spacing: 1px;
      }
    }
  }
}
